<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
<div th:replace="fragment/nav_bar :: nav_bar" />
<div class="wrap">

    <div class="form-wrap">

        <div class="col-md-12 text-center" id="form-name">
            <h3>로그인</h3>
        </div>

        <div th:if="${param.error}" class="alert alert-primary" role="alert">
            닉네임이나 비밀번호가 틀렸습니다.
        </div>

        <div th:if="${param.logout}" class="alert alert-primary" role="alert">
            세션이 만료되어 로그아웃되었습니다.
        </div>

        <form id="login" th:action="@{/login}" method="post" class="input-group">
            <input type="text" class="input-field" name="username" placeholder="닉네임을 입력해주세요" required>
            <input type="password" class="input-field" name="password" placeholder="비밀번호를 입력해주세요" required>
            <button class="submit">LOGIN</button>
        </form>
        <br/>
        <br/>
        <a href="/oauth2/authorization/google">Google Login</a>
        <br/>
        <a href="/oauth2/authorization/facebook">Facebook Login</a>
        <br/>
        <a href="/oauth2/authorization/naver">Naver Login</a>

    </div>

</div>
</body>
</html>